.alert {
  padding: 1rem 1.25rem;
  border-radius: 0.2rem;
  position: relative;
  color: #1f1f1f;
  background-color: #dddddd;
  box-shadow: 0px 0px 5px 1px #414141be;
}

.alert::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  border-radius: 3px 0 0 3px;
  background-color: #3f3f3f;
}

.alert.alert-error {
  background-color: #fc8787;
}

.alert.alert-error::after {
  background-color: #be0000;
}

.alert.alert-success {
  background-color: #87fc91;
}
.alert.alert-success::after {
  background-color: #008d00;
}