:root {
  --border-radius: 3px;
  --color-green: #33a34f;
  --color-main: #10101f
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  background-color: var(--color-main);
}
