.input {
  padding: 0.85rem 1.25rem;
  border-radius: var(--border-radius);
  color: #fff;
  background-color: var(--color-main);
  border: none;
  width: 100%
}

.input::placeholder {
  color: #9191bd;
}

.input:focus {
  outline: solid var(--color-green) 1px;
}
